<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PICTORIAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">EATSLEEPREPEAT.NET</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              
              <li class="dropdown" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                  Photography
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Humans</a></li>
                  <li><a href="#">Urban Decay</a></li>
                  <li><a href="#">Solo Parking</a></li>
                  <li><a href="#">Brick &amp; Weatherboard</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Archives</a></li>
                </ul>
              </li>

              <li class="dropdown" id="menu2">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                  Code
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Pictorial</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Archives</a></li>
                </ul>
              </li>

              <li class=""><a href="#contact">Contact</a></li>
              <li class=""><a href="http://twitter.com/elithrar">@elithrar</a></li>

              </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <h2>Bootstrappin'</h2>
        <p><img src="../assets/img/pictorial_logo.png"></p>
        <p>Welcome to Pictorial!</p>
        <span class="abbr"><i class="icon-calendar"></i>February 19th, 2012</span>
      </div>

      <div class="hero-unit">
        <h2>Southwest</h2>
        <p><img src="http://farm5.staticflickr.com/4135/4783088654_7dfa278b48_o.jpg"></p>
        <p>The weather was not co-operative, and the mood was dark &mdash; and so I wanted to capture both. Bad skies don’t always ruin a shot.</p>
        <span class="abbr"><i class="icon-calendar"></i>February 19th, 2012</span>
      </div>
      
      <div class="hero-unit">
        <h2>Corrugated</h2>
        <p><img src="http://farm6.staticflickr.com/5142/5773555885_6dc47af943_o.jpg"></p>
        <p>Shot in Fremantle on my old Panasonic GF1 + 20mm f1.7 prime.</p>
        <span class="abbr"><i class="icon-calendar"></i>February 19th, 2012</span>
      </div>

      <div class="hero-unit">
        <h2>Grain</h2>
        <p><img src="http://farm7.staticflickr.com/6011/5896628991_6d3a56a417_o.jpg"></p>
        <p>Shot at home on my Panasonic GF1 + 45mm f2.8 macro.</p>
        <span class="abbr"><i class="icon-calendar"></i>February 19th, 2012</span>       
      </div>

      <hr>

      <div class="pagination pagination-centered">
        <ul>
          <li class="disabled"><a href="#">Prev</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>

      <footer>
        <p>&copy; Matt Silverlock & Faheem Patel, 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>

  </body>
</html>
